api:
  replicaCount: 3
  image:
    pullPolicy: IfNotPresent
  resources:
    requests:
      cpu: 250m
      memory: 256Mi
    limits:
      cpu: "1"
      memory: 512Mi
  env:
    - name: DEEPSIGMA_ENCRYPT_AT_REST
      value: "1"
  envFrom:
    configMapRef: true
    secretRef: true
  autoscaling:
    enabled: true
    minReplicas: 3
    maxReplicas: 10
    targetCPUUtilizationPercentage: 65
    targetMemoryUtilizationPercentage: 75

dashboard:
  replicaCount: 3
  image:
    pullPolicy: IfNotPresent
  resources:
    requests:
      cpu: 150m
      memory: 192Mi
    limits:
      cpu: 500m
      memory: 512Mi
  envFrom:
    configMapRef: true
    secretRef: true

ingress:
  enabled: true

configMap:
  enabled: true
  data:
    DEEPSIGMA_LOG_LEVEL: info

secret:
  enabled: true
  stringData:
    DEEPSIGMA_MASTER_KEY: "replace-me"

dataPersistence:
  enabled: false
  existingClaim: ""

fuseki:
  enabled: true

serviceMonitor:
  enabled: true
