api:
  replicaCount: 3
  image:
    pullPolicy: IfNotPresent
  resources:
    requests:
      cpu: 250m
      memory: 256Mi
    limits:
      cpu: "1"
      memory: 512Mi
  env:
    - name: DEEPSIGMA_ENCRYPT_AT_REST
      value: "1"

dashboard:
  replicaCount: 3
  image:
    pullPolicy: IfNotPresent
  resources:
    requests:
      cpu: 150m
      memory: 192Mi
    limits:
      cpu: 500m
      memory: 512Mi

ingress:
  enabled: true
