imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: true
  automount: true
  annotations: {}
  name: ""

podAnnotations: {}
podLabels: {}

api:
  replicaCount: 1
  image:
    repository: ghcr.io/8ryanwh1t3/deepsigma-api
    pullPolicy: IfNotPresent
    tag: "latest"
  service:
    type: ClusterIP
    port: 8000
  env: []
  resources: {}
  livenessProbe:
    httpGet:
      path: /api/health
      port: http
  readinessProbe:
    httpGet:
      path: /api/ready
      port: http

dashboard:
  replicaCount: 1
  image:
    repository: ghcr.io/8ryanwh1t3/deepsigma-dashboard
    pullPolicy: IfNotPresent
    tag: "latest"
  service:
    type: ClusterIP
    port: 3000
  env: []
  resources: {}
  livenessProbe:
    httpGet:
      path: /healthz
      port: http
  readinessProbe:
    httpGet:
      path: /healthz
      port: http

ingress:
  enabled: false
  className: ""
  annotations: {}
  hosts:
    - host: deepsigma.local
      paths:
        - path: /
          pathType: Prefix
          service: dashboard
        - path: /api
          pathType: Prefix
          service: api
  tls: []

nodeSelector: {}
tolerations: []
affinity: {}
