api:
  replicaCount: 3
  image:
    pullPolicy: IfNotPresent
  resources:
    requests:
      cpu: 250m
      memory: 256Mi
    limits:
      cpu: "1"
      memory: 512Mi
  env:
    - name: DEEPSIGMA_ENCRYPT_AT_REST
      value: "1"
  envFrom:
    configMapRef: true
    secretRef: true

dashboard:
  replicaCount: 3
  image:
    pullPolicy: IfNotPresent
  resources:
    requests:
      cpu: 150m
      memory: 192Mi
    limits:
      cpu: 500m
      memory: 512Mi
  envFrom:
    configMapRef: true
    secretRef: true

ingress:
  enabled: true

configMap:
  enabled: true
  data:
    DEEPSIGMA_LOG_LEVEL: info

secret:
  enabled: true
  stringData:
    DEEPSIGMA_MASTER_KEY: "replace-me"

fuseki:
  enabled: true

serviceMonitor:
  enabled: true
